html {
    height: 100%;
    width: 100%;
  }
  
  :root {
    --primary: crimson;
    --dark: #1f2937;
    --darkdark: #111827;
    --light: #f3f4f6;
  }
  
  body {
    background: linear-gradient(to right top, #a2a0a0, #728b9d, #495e5f, #7e9a91, #636e49);
  }
  
  h3 {
    text-align: center;
    padding-top: 45px;
    font-size: 34px;
    color: #e4ecea;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira sans', sans-serif;
  }
  
  
  
  .watch {
    text-align: center;
    background-color: var(--darkdark);
    width: 100%;
    max-width: 570px;
    margin: 3rem auto;
    padding: 1rem 2rem;
    border-radius: 1rem;
  }
  
  .time {
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: var(--light);
  }
  
  .controls {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .controls button {
    appearance: none;
    border: none;
    outline: none;
    cursor: pointer;
  
    color: var(--light);
    background-color: var(--primary);
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: 0.4s;
  }
  
  button:hover {
    opacity: 0.7;
  }
  
  button:active {
    background-color: var(--dark);
  }